//AEH Nvidia CSS
.aiaaPanel
  background-color: var(--primary-background-color)
  height: 100%
  width: 100%
  display: flex
  flex-direction: column
  color: var(--text-primary-color)

  .fetchModel

    .aiaaButton
      border: 1px solid var(--ui-border-color-active)
      border-radius: 25px
      background-color: var(--active-color)
      color: var(--ui-gray-dark)
      line-height: 25px
      padding: 0 20px
      outline: none
      cursor: pointer

      &:hover, &:active
        background-color: var(--ui-sky-blue)

      svg
        margin-right: 4px
        position: relative
        top: 2px

  .aiaaDropDown

    width: 60%

    color:white

  .aiaaTextBox

    width: 100%

    color:white
